/* Sets all values so the page is "reset" */
*{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body{
    height: 100vh;
    background-color: #ffffff;
}

h1{
    width: auto;
    margin-left: 20px;
}

h2{
    height: 24px;
    width: auto;
    color: #E0302A;
    padding-top: 20px;
}

p{
    font-size: 16px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 60px;
    align-content: center;
    margin-bottom: 50px;
    background-color: #E0A92F;
}

.textContainer{
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    width: 400px;
    line-height: 120%;
    align-content: center;
}

.arrowIcon{
    height: 24px;
    width: auto;
    font-size: 24px;
    padding-top: 17px;
    margin-left: 12px;
    color: #E0A92F;
}

.questionAdd{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.questionIcon{
    width: 16px;
    margin-right: 5px;
}

#checkboxIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16px;
    margin-left: 360px;
    padding: 10px;
    font-size: 22px;
}

#listIcon{
    font-size: 32px;
    height: 33px;
    width: auto;
    margin-top: 2px;
    margin-left: 10px;
}

#pageContainer{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#headQuestion{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

#selectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 340px;
    width: 880px;
    margin: 15px 30px 50px 30px;
    background-color: #E0A92F;
}

#trainingGoals {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#trainingGoals p{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

#coachingSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#supportingImgContainer{
    height: 350px;
    width: 320px;
    background-color: black;
    margin: 15px 30px 15px 30px;
}